*{
    margin: 0px;

    padding: 0px;

    box-sizing: border-box;

}

/* Menu Styles */


.Main{

    text-align: center;

    display: grid;

    grid-template-columns: 1fr;

    background-color: rgb(41, 40, 43);

}

.Menu{

    height: 100px;

    display: flex;

    box-sizing: border-box;

    justify-content: space-around;

    text-transform: uppercase;

    align-items: center;

    padding: 0px;

    min-height: 8vh;

    color: seashell;

}

.Navigation {

    color: seashell;

    text-align: center;

    text-transform: uppercase;

    letter-spacing: 4px;

    font-size: 24px;

}

.links{

    display: flex;

    justify-content: space-around;

    width: 45%;

}

.links a{

    color: seashell;

    text-decoration: none;

    transition: border-bottom 0.5s;

    font-weight: bold;

    text-align: center;

    font-size: 16px;

    letter-spacing: 2px;

}

.links li{

    list-style: none;

}

.links a:hover{

    border-bottom: seashell solid 2px;
}

.mobile-view div{

    width: 22px;

    height: 3.5px;

    background-color: seashell;

    margin: 5px;

}

.mobile-view{

    display: none;

    cursor: pointer;

}


@media screen and (max-width: 768px){

    body{

        overflow-x: hidden;

    }

    .links{

        display: flex;

        flex-direction: column;

        align-items: center;

        background-color: rgb(41, 40, 43);

        width: 100%;

        transform: translateX(100%);

        transition: transform 0.5s ease-in;

        position: absolute;

        right: 0px;

        height: 95vh;

        top: 8vh;

    }

    .links li{

        opacity: 0;

    }

    .mobile-view{

        display: block;

    }

    .Banner{

        height: 10px;

        display: 50%;

    }

    .info{

        padding: 25px 25px 25px;

        width: 100%;

        text-align: center;
    }

    .Summary p{

        width: 100%;

    }
    
}

@media screen and (max-width: 1024px){

    .links{

        width: 55%;

    }
    
}

.active{

    transform: translateX(0%);

}

@keyframes linksFaded{
    
    from{

        transform: translateX(50px);

        opacity: 0;

    }

    to{

        transform: translateX(0px);

        opacity: 1;
        
    }
}

.transform .Second-line{

    opacity: 0;

}

.transform .First-line{

    transform: rotate(-45deg) translate(-5px,6px);

}

.transform .Third-line{

    transform: rotate(45deg) translate(-5px,-7px);

}




/*Contents Styles*/


.Summary p{

    font-family: 'Times New Roman', Times, serif;

    font-size: 20px;

    width: 45%;

    padding: 25px 20px 25px;

    width: 50%;

    line-height: 40px;

    text-align: center;

}

.Banner{

    width: 100%;

    height: 5px;

    display: block;

}

/*Social Media*/

.Social-Media{

    top:120%;

    position: absolute;

    left:50%;

    transform: translate(-53%,-50%);

}

.Social-Media li{

    list-style: none;

    display: inline-block;

}

.Social-Media a{

    margin: 10px 25px;

    font-size: 35px;

    padding: 20px 20px;

    color:black;

    border: 1px solid black;

    border-radius: 30%;

    transition: 0.5s;

}

.Social-Media a:hover{

    color: rgb(20, 70, 145);

    border: 1px solid rgb(20, 70, 145);

    transition: .5s;

}

/* Information */

.Galery{

    display: flex;

    width: 90%;

    margin: auto;

    min-height: 80vh;

    align-items: center;

}

.Introduction{

    background-color: violet;

    flex:1;

}

.Images img{

    height: 40vh;

    width: 100%

}

.Images{

    flex:1;
}
















