body{

    margin: 10px;

    background-image: url('Images/background3.png');

    background-repeat: no-repeat;

}

/* Menu Styles */


.Main{

    text-align: center;

    display: grid;

    grid-template-columns: 1fr;

    background-color: royalblue;

}

.Menu{

    height: 100px;

    display: flex;

    box-sizing: border-box;

    justify-content: space-around;

    text-transform: uppercase;

    align-items: center;

    padding: 0px;

    min-height: 8vh;

    color: seashell;

}

.Navigation {

    color: seashell;

    text-align: center;

    text-transform: uppercase;

    letter-spacing: 4px;

    font-size: 22px;

}

.links{

    display: flex;

    justify-content: space-around;

    width: 45%;

}

.links a{

    color: seashell;

    text-decoration: none;

    transition: border-bottom 0.5s;

    font-weight: bold;

    text-align: center;

    font-size: 14px;

}

.links li{

    list-style: none;

}

.links a:hover{

    border-bottom: seashell solid 2px;
}

.mobile-view div{

    width: 22px;

    height: 3.5px;

    background-color: seashell;

    margin: 5px;

}

.mobile-view{

    display: none;

    cursor: pointer;

}


@media screen and (max-width: 768px){

    body{

        overflow-x: hidden;

    }

    .links{

        display: flex;

        flex-direction: column;

        align-items: center;

        background-color: royalblue;

        width: 100%;

        transform: translateX(100%);

        transition: transform 0.5s ease-in;

        position: absolute;

        right: 0px;

        height: 92vh;

        top: 8vh;

    }

    .links li{

        opacity: 0;

    }

    .mobile-view{

        display: block;

    }
    
}

@media screen and (max-width: 1024px){

    .links{

        width: 55%;

    }
    
}

.active{

    transform: translateX(0%);

}

@keyframes linksFaded{
    
    from{

        transform: translateX(50px);

        opacity: 0;

    }

    to{

        transform: translateX(0px);

        opacity: 1;
        
    }
}


/* Transtition- Animation */

.img-intro .Information{

    transition: 1s;

    font-weight: 600;

    font-size: 75;
    
    color: transparent;

}

.img-intro:hover .Information{

    font-weight: 600;

    font-size: 75;

    color: darkturquoise;

}

.image-darken{

    transition: 1s;

    filter: brightness(20%);

}

.transform .Second-line{

    opacity: 0;

}

.transform .First-line{

    transform: rotate(-90deg) translate(-5px,6px);

}

.transform .Third-line{

    transform: translate(6px,-12px);

}













